@{
    ViewBag.Title = "Contact";
}
<h1>@ViewBag.Title</h1>
<h3>@ViewBag.Message</h3>

<address>
   
</address>

<address>
    @*<strong>Support:</strong>   <a href="mailto:Support@example.com">Support@example.com</a><br />
    <strong>Marketing:</strong> <a href="mailto:Marketing@example.com">Marketing@example.com</a>*@
</address>