@model Lamb_N_Lentil.Domain.Entity

@{
    ViewBag.Title = "Index";
}
<h1>Search For Ingredients</h1>
@using (Html.BeginForm("ShowResults", "Entity", new { searchText = "searchText" }))
{
    <div>
        <p>  <label>Enter text to search for ingredient from the branded food database:</label></p>
        <p> <input name="searchText" value="searchText" maxlength="43" /></p>


    </div>
    <input type="submit" value="Search" />}
<dl class="dl-horizontal">
    <dt>
        @Html.DisplayNameFor(model => model.InstanceName)
    </dt>

    <dd>
        @Html.DisplayFor(model => model.InstanceName)
    </dd>

</dl>
<dl class="dl-horizontal">
    <dt>
        @Html.DisplayNameFor(model => model.IngredientsList)
    </dt>

    <dd>
        @Html.DisplayFor(model => model.IngredientsList)
    </dd>

</dl>